<a href="https://colab.research.google.com/github/NeetishPathak/biz_machine_learning/blob/main/recommender-systems/movies/Movies_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Movies Recommeder System

### Steps
1. Fetch Movies dataset (Using Dataset from #CS68 data https://raw.githubusercontent.com/cjflanagan/cs68/master/movies_metadata.csv)

2. This is a content based recommendation system. It recommends movies based on the Description of the item and a profile of the user's preferences

3. Library used is sklearn 
  - TF-IDF Vectorizer Algorithm. TF-IDF is an abbreviation for Term Frequency Inverse Document Frequency. This is very common algorithm to transform text into a meaningful representation of numbers which is used to fit a machine learning algorithm for prediction


  TF-IDF is a measure of originality of a word by comparing the number of times the word appears in a doc with the number of docs the word appears in,
<br>
$$
  TF-IDF = TF(t,d) * IDF(t) 
$$
  where TF(t,d) = Term frequency. Number of times the term t appears in a doc d

<br>
$$
    IDF(t) = log\frac{1+n}{1+df(d,t)} + 1
$$

where $df(d,t)$ is the document frequency of the term t

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

all_data = pd.read_csv("https://raw.githubusercontent.com/cjflanagan/cs68/master/movies_metadata.csv")
metadata = all_data[:20000]
# metadata = all_data
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
metadata.overview.head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [ ]:
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
metadata['overview'] = metadata.overview.fillna('')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
tfidf_matrix = tfidf.fit_transform(metadata.overview)
# print(tfidf_matrix[:2])
print(tfidf_matrix[0])

  (0, 1310)	0.16569369421480173
  (0, 355)	0.1811912650799923
  (0, 2606)	0.12207403696557236
  (0, 1602)	0.12268369775289
  (0, 1439)	0.15875764206131684
  (0, 3199)	0.12315146141475924
  (0, 3996)	0.15840653554816464
  (0, 847)	0.15485306558785947
  (0, 3371)	0.15875764206131684
  (0, 2096)	0.12461283734789087
  (0, 3344)	0.1145337610139008
  (0, 2708)	0.14323179045748796
  (0, 182)	0.17702278711815586
  (0, 3921)	0.1390336995264523
  (0, 616)	0.13025978060143362
  (0, 540)	0.1497454107575316
  (0, 3840)	0.13683094579640132
  (0, 2055)	0.15875764206131684
  (0, 2672)	0.10869362539225166
  (0, 4575)	0.18409684891787853
  (0, 265)	0.49429257746023614
  (0, 4948)	0.5522905467536356
  (0, 2610)	0.13004817869420746

In [ ]:
# Finding cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix,tfidf_matrix)

In [ ]:
cosine_sim.shape[0]
# cosine_sim[:2]

20000

In [ ]:
# import matplotlib.pyplot as plt
# import numpy as np
# import seaborn as sns

# # Make a 10 x 10 heatmap of some random data
# side_length = cosine_sim.shape[0]
# # Start with a 10 x 10 matrix with values randomized around 5
# data = cosine_sim
# # The next two lines make the values larger as we get closer to (9, 9)
# # Generate the heatmap
# sns.heatmap(data)
# plt.show()

In [ ]:
# import matplotlib.pyplot as plt
# from mpl_toolkits.mplot3d import axes3d

# fig = plt.figure()
# ax = fig.add_subplot(111, projection = '3d')

# # x, y, z = axes3d.get_test_data()
# x = np.arange(cosine_sim.shape[0])
# y = np.arange(cosine_sim.shape[0])
# z = cosine_sim

# ax.plot_wireframe(x, y, z, rstride = 2, cstride = 2, color='g', alpha=0.5)

# plt.title("Wireframe Plot Example")
# plt.tight_layout()
# plt.show()

In [ ]:
(cosine_sim<0).sum()

0

In [ ]:
indices = pd.Series(metadata.index, index=metadata.title).drop_duplicates()
indices

title
Toy Story                                                                       0
Jumanji                                                                         1
Grumpier Old Men                                                                2
Waiting to Exhale                                                               3
Father of the Bride Part II                                                     4
                                                                            ...
Rebellion                                                                   19995
Versailles                                                                  19996
Two in the Wave                                                             19997
Lotte Reiniger: Homage to the Inventor of the Silhouette Film               19998
RKO Production 601: The Making of 'Kong, the Eighth Wonder of the World'    19999
Length: 20000, dtype: int64

In [ ]:
idx = indices['Toy Story']
sim_scores = list(enumerate(cosine_sim[idx]))
# print(sim_scores)
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:11]
movie_indices = [i[0] for i in sim_scores]
movie_indices

[15348, 2997, 10301, 8327, 3057, 6944, 11606, 5797, 1932, 5618]

In [ ]:
# Function that takes movies title as input and returns the most similar movies

def recommended_movies(movie):
  idx = indices[movie]
  sim_scores = list(enumerate(cosine_sim[idx]))
# print(sim_scores)
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  movie_indices = [i[0] for i in sim_scores]
  return metadata['title'].iloc[movie_indices]

print(recommended_movies('Toy Story'))

15348               Toy Story 3
2997                Toy Story 2
10301    The 40 Year Old Virgin
8327                  The Champ
3057            Man on the Moon
6944           Rivers and Tides
11606              Factory Girl
5797              Class of 1984
1932                  Condorman
5618                 Heartbeeps
Name: title, dtype: object